<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submission Result</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Form Submission Result</h1>
    <p><strong>Name:</strong> <%= name %></p>
    <p><strong>Email:</strong> <%= email %></p>
    <p><strong>Gender:</strong> <%= gender %></p>
    <p><strong>Department:</strong> <%= department %></p>
  </body>
</html>
